body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:900px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2622_img {
  position:absolute;
  left:0px;
  top:0px;
  width:901px;
  height:26px;
}
#u2622 {
  position:absolute;
  left:0px;
  top:0px;
  width:900px;
  height:25px;
}
#u2623 {
  position:absolute;
  left:2px;
  top:4px;
  width:896px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2624_img {
  position:absolute;
  left:0px;
  top:0px;
  width:901px;
  height:41px;
}
#u2624 {
  position:absolute;
  left:0px;
  top:25px;
  width:900px;
  height:40px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u2625 {
  position:absolute;
  left:2px;
  top:12px;
  width:896px;
  word-wrap:break-word;
}
#u2626_img {
  position:absolute;
  left:0px;
  top:0px;
  width:901px;
  height:247px;
}
#u2626 {
  position:absolute;
  left:0px;
  top:65px;
  width:900px;
  height:246px;
  font-size:12px;
  text-align:left;
}
#u2627 {
  position:absolute;
  left:2px;
  top:2px;
  width:896px;
  word-wrap:break-word;
}
#u2628_img {
  position:absolute;
  left:0px;
  top:0px;
  width:901px;
  height:41px;
}
#u2628 {
  position:absolute;
  left:0px;
  top:312px;
  width:900px;
  height:40px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u2629 {
  position:absolute;
  left:2px;
  top:12px;
  width:896px;
  word-wrap:break-word;
}
#u2630_img {
  position:absolute;
  left:0px;
  top:0px;
  width:901px;
  height:168px;
}
#u2630 {
  position:absolute;
  left:0px;
  top:353px;
  width:900px;
  height:167px;
  font-size:12px;
  text-align:left;
}
#u2631 {
  position:absolute;
  left:2px;
  top:2px;
  width:896px;
  word-wrap:break-word;
}
#u2632_img {
  position:absolute;
  left:0px;
  top:0px;
  width:901px;
  height:41px;
}
#u2632 {
  position:absolute;
  left:0px;
  top:522px;
  width:900px;
  height:40px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u2633 {
  position:absolute;
  left:2px;
  top:12px;
  width:896px;
  word-wrap:break-word;
}
#u2634_img {
  position:absolute;
  left:0px;
  top:0px;
  width:901px;
  height:165px;
}
#u2634 {
  position:absolute;
  left:0px;
  top:563px;
  width:900px;
  height:164px;
  font-size:12px;
  text-align:left;
}
#u2635 {
  position:absolute;
  left:2px;
  top:2px;
  width:896px;
  word-wrap:break-word;
}
#u2636_img {
  position:absolute;
  left:0px;
  top:0px;
  width:901px;
  height:41px;
}
#u2636 {
  position:absolute;
  left:0px;
  top:728px;
  width:900px;
  height:40px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u2637 {
  position:absolute;
  left:2px;
  top:12px;
  width:896px;
  word-wrap:break-word;
}
#u2638_img {
  position:absolute;
  left:0px;
  top:0px;
  width:901px;
  height:151px;
}
#u2638 {
  position:absolute;
  left:0px;
  top:768px;
  width:900px;
  height:150px;
  font-size:12px;
  text-align:left;
}
#u2639 {
  position:absolute;
  left:2px;
  top:2px;
  width:896px;
  word-wrap:break-word;
}
#u2640_img {
  position:absolute;
  left:0px;
  top:0px;
  width:901px;
  height:41px;
}
#u2640 {
  position:absolute;
  left:0px;
  top:919px;
  width:900px;
  height:40px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u2641 {
  position:absolute;
  left:2px;
  top:12px;
  width:896px;
  word-wrap:break-word;
}
#u2642_img {
  position:absolute;
  left:0px;
  top:0px;
  width:901px;
  height:151px;
}
#u2642 {
  position:absolute;
  left:0px;
  top:960px;
  width:900px;
  height:150px;
  font-size:12px;
  text-align:left;
}
#u2643 {
  position:absolute;
  left:2px;
  top:2px;
  width:896px;
  word-wrap:break-word;
}
#u2644_img {
  position:absolute;
  left:0px;
  top:0px;
  width:901px;
  height:41px;
}
#u2644 {
  position:absolute;
  left:0px;
  top:1111px;
  width:900px;
  height:40px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u2645 {
  position:absolute;
  left:2px;
  top:12px;
  width:896px;
  word-wrap:break-word;
}
#u2646_img {
  position:absolute;
  left:0px;
  top:0px;
  width:901px;
  height:151px;
}
#u2646 {
  position:absolute;
  left:0px;
  top:1151px;
  width:900px;
  height:150px;
  font-size:12px;
  text-align:left;
}
#u2647 {
  position:absolute;
  left:2px;
  top:2px;
  width:896px;
  word-wrap:break-word;
}
#u2648_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:40px;
}
#u2648 {
  position:absolute;
  left:635px;
  top:446px;
  width:78px;
  height:39px;
}
#u2649 {
  position:absolute;
  left:2px;
  top:12px;
  width:74px;
  word-wrap:break-word;
}
#u2650_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:40px;
}
#u2650 {
  position:absolute;
  left:453px;
  top:362px;
  width:78px;
  height:39px;
}
#u2651 {
  position:absolute;
  left:2px;
  top:12px;
  width:74px;
  word-wrap:break-word;
}
#u2652_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:40px;
}
#u2652 {
  position:absolute;
  left:634px;
  top:362px;
  width:78px;
  height:39px;
}
#u2653 {
  position:absolute;
  left:2px;
  top:12px;
  width:74px;
  word-wrap:break-word;
}
#u2654_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:40px;
}
#u2654 {
  position:absolute;
  left:722px;
  top:362px;
  width:78px;
  height:39px;
}
#u2655 {
  position:absolute;
  left:2px;
  top:12px;
  width:74px;
  word-wrap:break-word;
}
#u2656_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:40px;
}
#u2656 {
  position:absolute;
  left:542px;
  top:362px;
  width:78px;
  height:39px;
}
#u2657 {
  position:absolute;
  left:2px;
  top:12px;
  width:74px;
  word-wrap:break-word;
}
#u2658 {
  position:absolute;
  left:674px;
  top:446px;
  width:0px;
  height:0px;
  font-size:12px;
  color:#000000;
}
#u2658_seg0 {
  position:absolute;
  left:-186px;
  top:-28px;
  width:190px;
  height:10px;
  -webkit-transform:rotate(13.8880011609068deg);
  -moz-transform:rotate(13.8880011609068deg);
  -ms-transform:rotate(13.8880011609068deg);
  transform:rotate(13.8880011609068deg);
}
#u2658_seg1 {
  position:absolute;
  left:-188px;
  top:-54px;
  width:20px;
  height:20px;
}
#u2659 {
  position:absolute;
  left:-141px;
  top:-30px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2660 {
  position:absolute;
  left:674px;
  top:446px;
  width:0px;
  height:0px;
  font-size:12px;
  color:#000000;
}
#u2660_seg0 {
  position:absolute;
  left:-100px;
  top:-28px;
  width:106px;
  height:10px;
  -webkit-transform:rotate(25.8209919741893deg);
  -moz-transform:rotate(25.8209919741893deg);
  -ms-transform:rotate(25.8209919741893deg);
  transform:rotate(25.8209919741893deg);
}
#u2660_seg1 {
  position:absolute;
  left:-99px;
  top:-53px;
  width:20px;
  height:20px;
}
#u2661 {
  position:absolute;
  left:-96px;
  top:-30px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2662 {
  position:absolute;
  left:674px;
  top:446px;
  width:0px;
  height:0px;
  font-size:12px;
  color:#000000;
}
#u2662_seg0 {
  position:absolute;
  left:-24px;
  top:-26px;
  width:48px;
  height:8px;
  -webkit-transform:rotate(88.7269699799433deg);
  -moz-transform:rotate(88.7269699799433deg);
  -ms-transform:rotate(88.7269699799433deg);
  transform:rotate(88.7269699799433deg);
}
#u2662_seg1 {
  position:absolute;
  left:-11px;
  top:-51px;
  width:20px;
  height:20px;
}
#u2663 {
  position:absolute;
  left:-50px;
  top:-30px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2664 {
  position:absolute;
  left:674px;
  top:446px;
  width:0px;
  height:0px;
  font-size:12px;
  color:#000000;
}
#u2664_seg0 {
  position:absolute;
  left:-6px;
  top:-28px;
  width:100px;
  height:10px;
  -webkit-transform:rotate(152.65012421993deg);
  -moz-transform:rotate(152.65012421993deg);
  -ms-transform:rotate(152.65012421993deg);
  transform:rotate(152.65012421993deg);
}
#u2664_seg1 {
  position:absolute;
  left:72px;
  top:-53px;
  width:20px;
  height:20px;
}
#u2665 {
  position:absolute;
  left:-6px;
  top:-30px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2666_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:40px;
}
#u2666 {
  position:absolute;
  left:815px;
  top:363px;
  width:78px;
  height:39px;
}
#u2667 {
  position:absolute;
  left:2px;
  top:12px;
  width:74px;
  word-wrap:break-word;
}
#u2668 {
  position:absolute;
  left:674px;
  top:446px;
  width:0px;
  height:0px;
  font-size:12px;
  color:#000000;
}
#u2668_seg0 {
  position:absolute;
  left:-4px;
  top:-26px;
  width:188px;
  height:8px;
  -webkit-transform:rotate(166.263731694377deg);
  -moz-transform:rotate(166.263731694377deg);
  -ms-transform:rotate(166.263731694377deg);
  transform:rotate(166.263731694377deg);
}
#u2668_seg1 {
  position:absolute;
  left:165px;
  top:-53px;
  width:20px;
  height:20px;
}
#u2669 {
  position:absolute;
  left:40px;
  top:-30px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
