body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:900px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u749_img {
  position:absolute;
  left:0px;
  top:0px;
  width:901px;
  height:26px;
}
#u749 {
  position:absolute;
  left:0px;
  top:0px;
  width:900px;
  height:25px;
}
#u750 {
  position:absolute;
  left:2px;
  top:4px;
  width:896px;
  visibility:hidden;
  word-wrap:break-word;
}
#u751_img {
  position:absolute;
  left:0px;
  top:0px;
  width:901px;
  height:41px;
}
#u751 {
  position:absolute;
  left:0px;
  top:25px;
  width:900px;
  height:40px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u752 {
  position:absolute;
  left:2px;
  top:12px;
  width:896px;
  word-wrap:break-word;
}
#u753_img {
  position:absolute;
  left:0px;
  top:0px;
  width:901px;
  height:244px;
}
#u753 {
  position:absolute;
  left:0px;
  top:65px;
  width:900px;
  height:243px;
  font-size:12px;
  text-align:left;
}
#u754 {
  position:absolute;
  left:2px;
  top:2px;
  width:896px;
  word-wrap:break-word;
}
#u755_img {
  position:absolute;
  left:0px;
  top:0px;
  width:901px;
  height:41px;
}
#u755 {
  position:absolute;
  left:0px;
  top:309px;
  width:900px;
  height:40px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u756 {
  position:absolute;
  left:2px;
  top:12px;
  width:896px;
  word-wrap:break-word;
}
#u757_img {
  position:absolute;
  left:0px;
  top:0px;
  width:901px;
  height:151px;
}
#u757 {
  position:absolute;
  left:0px;
  top:350px;
  width:900px;
  height:150px;
  font-size:12px;
  text-align:left;
}
#u758 {
  position:absolute;
  left:2px;
  top:2px;
  width:896px;
  word-wrap:break-word;
}
#u759_img {
  position:absolute;
  left:0px;
  top:0px;
  width:901px;
  height:41px;
}
#u759 {
  position:absolute;
  left:0px;
  top:501px;
  width:900px;
  height:40px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u760 {
  position:absolute;
  left:2px;
  top:12px;
  width:896px;
  word-wrap:break-word;
}
#u761_img {
  position:absolute;
  left:0px;
  top:0px;
  width:901px;
  height:151px;
}
#u761 {
  position:absolute;
  left:0px;
  top:541px;
  width:900px;
  height:150px;
  font-size:12px;
  color:#000000;
  text-align:left;
}
#u762 {
  position:absolute;
  left:2px;
  top:2px;
  width:896px;
  word-wrap:break-word;
}
#u763_img {
  position:absolute;
  left:0px;
  top:0px;
  width:901px;
  height:41px;
}
#u763 {
  position:absolute;
  left:0px;
  top:693px;
  width:900px;
  height:40px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u764 {
  position:absolute;
  left:2px;
  top:12px;
  width:896px;
  word-wrap:break-word;
}
#u765_img {
  position:absolute;
  left:0px;
  top:0px;
  width:901px;
  height:234px;
}
#u765 {
  position:absolute;
  left:0px;
  top:737px;
  width:900px;
  height:233px;
  font-size:12px;
  text-align:left;
}
#u766 {
  position:absolute;
  left:2px;
  top:2px;
  width:896px;
  word-wrap:break-word;
}
#u767_img {
  position:absolute;
  left:0px;
  top:0px;
  width:901px;
  height:41px;
}
#u767 {
  position:absolute;
  left:0px;
  top:970px;
  width:900px;
  height:40px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u768 {
  position:absolute;
  left:2px;
  top:12px;
  width:896px;
  word-wrap:break-word;
}
#u769_img {
  position:absolute;
  left:0px;
  top:0px;
  width:901px;
  height:151px;
}
#u769 {
  position:absolute;
  left:0px;
  top:1012px;
  width:900px;
  height:150px;
  font-size:12px;
  text-align:left;
}
#u770 {
  position:absolute;
  left:2px;
  top:2px;
  width:896px;
  word-wrap:break-word;
}
#u771_img {
  position:absolute;
  left:0px;
  top:0px;
  width:901px;
  height:41px;
}
#u771 {
  position:absolute;
  left:0px;
  top:1164px;
  width:900px;
  height:40px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u772 {
  position:absolute;
  left:2px;
  top:12px;
  width:896px;
  word-wrap:break-word;
}
#u773_img {
  position:absolute;
  left:0px;
  top:0px;
  width:901px;
  height:151px;
}
#u773 {
  position:absolute;
  left:0px;
  top:1206px;
  width:900px;
  height:150px;
  font-size:12px;
  text-align:left;
}
#u774 {
  position:absolute;
  left:2px;
  top:2px;
  width:896px;
  word-wrap:break-word;
}
