body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:900px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u685_img {
  position:absolute;
  left:0px;
  top:0px;
  width:901px;
  height:26px;
}
#u685 {
  position:absolute;
  left:0px;
  top:0px;
  width:900px;
  height:25px;
}
#u686 {
  position:absolute;
  left:2px;
  top:4px;
  width:896px;
  visibility:hidden;
  word-wrap:break-word;
}
#u687_img {
  position:absolute;
  left:0px;
  top:0px;
  width:901px;
  height:41px;
}
#u687 {
  position:absolute;
  left:0px;
  top:25px;
  width:900px;
  height:40px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u688 {
  position:absolute;
  left:2px;
  top:12px;
  width:896px;
  word-wrap:break-word;
}
#u689_img {
  position:absolute;
  left:0px;
  top:0px;
  width:901px;
  height:244px;
}
#u689 {
  position:absolute;
  left:0px;
  top:65px;
  width:900px;
  height:243px;
  font-size:12px;
  text-align:left;
}
#u690 {
  position:absolute;
  left:2px;
  top:2px;
  width:896px;
  word-wrap:break-word;
}
#u691_img {
  position:absolute;
  left:0px;
  top:0px;
  width:901px;
  height:41px;
}
#u691 {
  position:absolute;
  left:0px;
  top:309px;
  width:900px;
  height:40px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u692 {
  position:absolute;
  left:2px;
  top:12px;
  width:896px;
  word-wrap:break-word;
}
#u693_img {
  position:absolute;
  left:0px;
  top:0px;
  width:901px;
  height:151px;
}
#u693 {
  position:absolute;
  left:0px;
  top:350px;
  width:900px;
  height:150px;
  font-size:12px;
  text-align:left;
}
#u694 {
  position:absolute;
  left:2px;
  top:2px;
  width:896px;
  word-wrap:break-word;
}
#u695_img {
  position:absolute;
  left:0px;
  top:0px;
  width:901px;
  height:41px;
}
#u695 {
  position:absolute;
  left:0px;
  top:501px;
  width:900px;
  height:40px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u696 {
  position:absolute;
  left:2px;
  top:12px;
  width:896px;
  word-wrap:break-word;
}
#u697_img {
  position:absolute;
  left:0px;
  top:0px;
  width:901px;
  height:151px;
}
#u697 {
  position:absolute;
  left:0px;
  top:541px;
  width:900px;
  height:150px;
  font-size:12px;
  color:#000000;
  text-align:left;
}
#u698 {
  position:absolute;
  left:2px;
  top:2px;
  width:896px;
  word-wrap:break-word;
}
#u699_img {
  position:absolute;
  left:0px;
  top:0px;
  width:901px;
  height:41px;
}
#u699 {
  position:absolute;
  left:0px;
  top:693px;
  width:900px;
  height:40px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u700 {
  position:absolute;
  left:2px;
  top:12px;
  width:896px;
  word-wrap:break-word;
}
#u701_img {
  position:absolute;
  left:0px;
  top:0px;
  width:901px;
  height:234px;
}
#u701 {
  position:absolute;
  left:0px;
  top:737px;
  width:900px;
  height:233px;
  font-size:12px;
  text-align:left;
}
#u702 {
  position:absolute;
  left:2px;
  top:2px;
  width:896px;
  word-wrap:break-word;
}
#u703_img {
  position:absolute;
  left:0px;
  top:0px;
  width:901px;
  height:41px;
}
#u703 {
  position:absolute;
  left:0px;
  top:970px;
  width:900px;
  height:40px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u704 {
  position:absolute;
  left:2px;
  top:12px;
  width:896px;
  word-wrap:break-word;
}
#u705_img {
  position:absolute;
  left:0px;
  top:0px;
  width:901px;
  height:151px;
}
#u705 {
  position:absolute;
  left:0px;
  top:1012px;
  width:900px;
  height:150px;
  font-size:12px;
  text-align:left;
}
#u706 {
  position:absolute;
  left:2px;
  top:2px;
  width:896px;
  word-wrap:break-word;
}
#u707_img {
  position:absolute;
  left:0px;
  top:0px;
  width:901px;
  height:41px;
}
#u707 {
  position:absolute;
  left:0px;
  top:1164px;
  width:900px;
  height:40px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u708 {
  position:absolute;
  left:2px;
  top:12px;
  width:896px;
  word-wrap:break-word;
}
#u709_img {
  position:absolute;
  left:0px;
  top:0px;
  width:901px;
  height:151px;
}
#u709 {
  position:absolute;
  left:0px;
  top:1206px;
  width:900px;
  height:150px;
  font-size:12px;
  text-align:left;
}
#u710 {
  position:absolute;
  left:2px;
  top:2px;
  width:896px;
  word-wrap:break-word;
}
