body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1268px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u981_img {
  position:absolute;
  left:0px;
  top:0px;
  width:901px;
  height:26px;
}
#u981 {
  position:absolute;
  left:0px;
  top:0px;
  width:900px;
  height:25px;
}
#u982 {
  position:absolute;
  left:2px;
  top:4px;
  width:896px;
  visibility:hidden;
  word-wrap:break-word;
}
#u983_img {
  position:absolute;
  left:0px;
  top:0px;
  width:901px;
  height:41px;
}
#u983 {
  position:absolute;
  left:0px;
  top:25px;
  width:900px;
  height:40px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u984 {
  position:absolute;
  left:2px;
  top:12px;
  width:896px;
  word-wrap:break-word;
}
#u985_img {
  position:absolute;
  left:0px;
  top:0px;
  width:901px;
  height:189px;
}
#u985 {
  position:absolute;
  left:0px;
  top:65px;
  width:900px;
  height:188px;
  font-size:12px;
  text-align:left;
}
#u986 {
  position:absolute;
  left:2px;
  top:2px;
  width:896px;
  word-wrap:break-word;
}
#u987_img {
  position:absolute;
  left:0px;
  top:0px;
  width:901px;
  height:41px;
}
#u987 {
  position:absolute;
  left:0px;
  top:253px;
  width:900px;
  height:40px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u988 {
  position:absolute;
  left:2px;
  top:12px;
  width:896px;
  word-wrap:break-word;
}
#u989_img {
  position:absolute;
  left:0px;
  top:0px;
  width:901px;
  height:151px;
}
#u989 {
  position:absolute;
  left:0px;
  top:294px;
  width:900px;
  height:150px;
  font-size:12px;
  text-align:left;
}
#u990 {
  position:absolute;
  left:2px;
  top:2px;
  width:896px;
  word-wrap:break-word;
}
#u991_img {
  position:absolute;
  left:0px;
  top:0px;
  width:901px;
  height:41px;
}
#u991 {
  position:absolute;
  left:0px;
  top:445px;
  width:900px;
  height:40px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u992 {
  position:absolute;
  left:2px;
  top:12px;
  width:896px;
  word-wrap:break-word;
}
#u993_img {
  position:absolute;
  left:0px;
  top:0px;
  width:901px;
  height:151px;
}
#u993 {
  position:absolute;
  left:0px;
  top:486px;
  width:900px;
  height:150px;
  font-size:12px;
  text-align:left;
}
#u994 {
  position:absolute;
  left:2px;
  top:2px;
  width:896px;
  word-wrap:break-word;
}
#u995_img {
  position:absolute;
  left:0px;
  top:0px;
  width:901px;
  height:41px;
}
#u995 {
  position:absolute;
  left:0px;
  top:637px;
  width:900px;
  height:40px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u996 {
  position:absolute;
  left:2px;
  top:12px;
  width:896px;
  word-wrap:break-word;
}
#u997_img {
  position:absolute;
  left:0px;
  top:0px;
  width:901px;
  height:151px;
}
#u997 {
  position:absolute;
  left:0px;
  top:677px;
  width:900px;
  height:150px;
  font-size:12px;
  text-align:left;
}
#u998 {
  position:absolute;
  left:2px;
  top:2px;
  width:896px;
  word-wrap:break-word;
}
#u999_img {
  position:absolute;
  left:0px;
  top:0px;
  width:901px;
  height:41px;
}
#u999 {
  position:absolute;
  left:0px;
  top:828px;
  width:900px;
  height:40px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u1000 {
  position:absolute;
  left:2px;
  top:12px;
  width:896px;
  word-wrap:break-word;
}
#u1001_img {
  position:absolute;
  left:0px;
  top:0px;
  width:901px;
  height:151px;
}
#u1001 {
  position:absolute;
  left:0px;
  top:869px;
  width:900px;
  height:150px;
  font-size:12px;
  text-align:left;
}
#u1002 {
  position:absolute;
  left:2px;
  top:2px;
  width:896px;
  word-wrap:break-word;
}
#u1003_img {
  position:absolute;
  left:0px;
  top:0px;
  width:901px;
  height:41px;
}
#u1003 {
  position:absolute;
  left:0px;
  top:1020px;
  width:900px;
  height:40px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u1004 {
  position:absolute;
  left:2px;
  top:12px;
  width:896px;
  word-wrap:break-word;
}
#u1005_img {
  position:absolute;
  left:0px;
  top:0px;
  width:901px;
  height:151px;
}
#u1005 {
  position:absolute;
  left:0px;
  top:1060px;
  width:900px;
  height:150px;
  font-size:12px;
  text-align:left;
}
#u1006 {
  position:absolute;
  left:2px;
  top:2px;
  width:896px;
  word-wrap:break-word;
}
#u1007_img {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:171px;
}
#u1007 {
  position:absolute;
  left:968px;
  top:216px;
  width:300px;
  height:170px;
}
#u1008 {
  position:absolute;
  left:2px;
  top:77px;
  width:296px;
  word-wrap:break-word;
}
