body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1504px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u4187_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u4187 {
  position:absolute;
  left:563px;
  top:16px;
  width:100px;
  height:60px;
}
#u4188 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u4189_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u4189 {
  position:absolute;
  left:563px;
  top:140px;
  width:100px;
  height:60px;
}
#u4190 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u4191_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u4191 {
  position:absolute;
  left:145px;
  top:291px;
  width:100px;
  height:60px;
}
#u4192 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u4193_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u4193 {
  position:absolute;
  left:563px;
  top:291px;
  width:100px;
  height:60px;
}
#u4194 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u4195_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u4195 {
  position:absolute;
  left:1056px;
  top:291px;
  width:100px;
  height:60px;
}
#u4196 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u4197_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u4197 {
  position:absolute;
  left:145px;
  top:627px;
  width:100px;
  height:60px;
}
#u4198 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u4199_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u4199 {
  position:absolute;
  left:145px;
  top:796px;
  width:100px;
  height:60px;
}
#u4200 {
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u4201_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u4201 {
  position:absolute;
  left:145px;
  top:960px;
  width:100px;
  height:60px;
}
#u4202 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u4203_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u4203 {
  position:absolute;
  left:563px;
  top:627px;
  width:100px;
  height:60px;
}
#u4204 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u4205_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u4205 {
  position:absolute;
  left:563px;
  top:796px;
  width:100px;
  height:60px;
}
#u4206 {
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u4207_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u4207 {
  position:absolute;
  left:563px;
  top:960px;
  width:100px;
  height:60px;
}
#u4208 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u4209_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u4209 {
  position:absolute;
  left:563px;
  top:1112px;
  width:100px;
  height:60px;
}
#u4210 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u4211_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u4211 {
  position:absolute;
  left:145px;
  top:458px;
  width:100px;
  height:60px;
}
#u4212 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u4213_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u4213 {
  position:absolute;
  left:563px;
  top:458px;
  width:100px;
  height:60px;
}
#u4214 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u4215_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u4215 {
  position:absolute;
  left:355px;
  top:458px;
  width:100px;
  height:60px;
}
#u4216 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u4217_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u4217 {
  position:absolute;
  left:900px;
  top:458px;
  width:100px;
  height:60px;
}
#u4218 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u4219_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u4219 {
  position:absolute;
  left:1189px;
  top:458px;
  width:100px;
  height:60px;
}
#u4220 {
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u4221_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u4221 {
  position:absolute;
  left:900px;
  top:627px;
  width:100px;
  height:60px;
}
#u4222 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u4223_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u4223 {
  position:absolute;
  left:1189px;
  top:627px;
  width:100px;
  height:60px;
}
#u4224 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u4225_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u4225 {
  position:absolute;
  left:1189px;
  top:780px;
  width:100px;
  height:60px;
}
#u4226 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u4227_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u4227 {
  position:absolute;
  left:1056px;
  top:960px;
  width:100px;
  height:60px;
}
#u4228 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u4229_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u4229 {
  position:absolute;
  left:1404px;
  top:780px;
  width:100px;
  height:60px;
}
#u4230 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u4231_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u4231 {
  position:absolute;
  left:736px;
  top:627px;
  width:100px;
  height:60px;
}
#u4232 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u4233 {
  position:absolute;
  left:613px;
  top:76px;
  width:0px;
  height:0px;
  font-size:12px;
  color:#FF0000;
}
#u4233_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:68px;
}
#u4233_seg1 {
  position:absolute;
  left:-10px;
  top:49px;
  width:20px;
  height:20px;
}
#u4234 {
  position:absolute;
  left:-50px;
  top:24px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4235 {
  position:absolute;
  left:613px;
  top:200px;
  width:0px;
  height:0px;
  font-size:12px;
  color:#FF0000;
}
#u4235_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:95px;
}
#u4235_seg1 {
  position:absolute;
  left:-10px;
  top:76px;
  width:20px;
  height:20px;
}
#u4236 {
  position:absolute;
  left:-50px;
  top:38px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4237 {
  position:absolute;
  left:613px;
  top:200px;
  width:0px;
  height:0px;
  font-size:12px;
  color:#FF0000;
}
#u4237_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:38px;
}
#u4237_seg1 {
  position:absolute;
  left:-422px;
  top:30px;
  width:426px;
  height:8px;
}
#u4237_seg2 {
  position:absolute;
  left:-422px;
  top:30px;
  width:8px;
  height:61px;
}
#u4237_seg3 {
  position:absolute;
  left:-428px;
  top:76px;
  width:20px;
  height:20px;
}
#u4238 {
  position:absolute;
  left:-270px;
  top:26px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4239 {
  position:absolute;
  left:613px;
  top:200px;
  width:0px;
  height:0px;
  font-size:12px;
  color:#FF0000;
}
#u4239_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:39px;
}
#u4239_seg1 {
  position:absolute;
  left:-4px;
  top:31px;
  width:501px;
  height:8px;
}
#u4239_seg2 {
  position:absolute;
  left:489px;
  top:31px;
  width:8px;
  height:60px;
}
#u4239_seg3 {
  position:absolute;
  left:483px;
  top:76px;
  width:20px;
  height:20px;
}
#u4240 {
  position:absolute;
  left:207px;
  top:27px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4241 {
  position:absolute;
  left:195px;
  top:351px;
  width:0px;
  height:0px;
  font-size:12px;
  color:#FF0000;
}
#u4241_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:111px;
}
#u4241_seg1 {
  position:absolute;
  left:-10px;
  top:92px;
  width:20px;
  height:20px;
}
#u4242 {
  position:absolute;
  left:-50px;
  top:46px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4243 {
  position:absolute;
  left:195px;
  top:518px;
  width:0px;
  height:0px;
  font-size:12px;
  color:#000000;
}
#u4243_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:113px;
}
#u4243_seg1 {
  position:absolute;
  left:-10px;
  top:94px;
  width:20px;
  height:20px;
}
#u4244 {
  position:absolute;
  left:-50px;
  top:47px;
  width:100px;
  word-wrap:break-word;
}
#u4245 {
  position:absolute;
  left:195px;
  top:687px;
  width:0px;
  height:0px;
  font-size:12px;
  color:#FF0000;
}
#u4245_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:113px;
}
#u4245_seg1 {
  position:absolute;
  left:-10px;
  top:94px;
  width:20px;
  height:20px;
}
#u4246 {
  position:absolute;
  left:-50px;
  top:46px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4247 {
  position:absolute;
  left:195px;
  top:856px;
  width:0px;
  height:0px;
  font-size:12px;
  color:#FF0000;
}
#u4247_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:108px;
}
#u4247_seg1 {
  position:absolute;
  left:-10px;
  top:89px;
  width:20px;
  height:20px;
}
#u4248 {
  position:absolute;
  left:-50px;
  top:44px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4249 {
  position:absolute;
  left:613px;
  top:351px;
  width:0px;
  height:0px;
  font-size:12px;
  color:#FF0000;
}
#u4249_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:111px;
}
#u4249_seg1 {
  position:absolute;
  left:-10px;
  top:92px;
  width:20px;
  height:20px;
}
#u4250 {
  position:absolute;
  left:-50px;
  top:46px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4251 {
  position:absolute;
  left:613px;
  top:518px;
  width:0px;
  height:0px;
  font-size:12px;
  color:#000000;
}
#u4251_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:113px;
}
#u4251_seg1 {
  position:absolute;
  left:-10px;
  top:94px;
  width:20px;
  height:20px;
}
#u4252 {
  position:absolute;
  left:-50px;
  top:47px;
  width:100px;
  word-wrap:break-word;
}
#u4253 {
  position:absolute;
  left:245px;
  top:488px;
  width:0px;
  height:0px;
  font-size:12px;
  color:#FF0000;
}
#u4253_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:114px;
  height:8px;
}
#u4253_seg1 {
  position:absolute;
  left:95px;
  top:-10px;
  width:20px;
  height:20px;
}
#u4254 {
  position:absolute;
  left:5px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u4255 {
  position:absolute;
  left:613px;
  top:687px;
  width:0px;
  height:0px;
  font-size:12px;
  color:#FF0000;
}
#u4255_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:113px;
}
#u4255_seg1 {
  position:absolute;
  left:-10px;
  top:94px;
  width:20px;
  height:20px;
}
#u4256 {
  position:absolute;
  left:-50px;
  top:46px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4257 {
  position:absolute;
  left:613px;
  top:856px;
  width:0px;
  height:0px;
  font-size:12px;
  color:#FF0000;
}
#u4257_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:108px;
}
#u4257_seg1 {
  position:absolute;
  left:-10px;
  top:89px;
  width:20px;
  height:20px;
}
#u4258 {
  position:absolute;
  left:-50px;
  top:44px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4259 {
  position:absolute;
  left:405px;
  top:458px;
  width:0px;
  height:0px;
  font-size:12px;
  color:#FF0000;
}
#u4259_seg0 {
  position:absolute;
  left:-4px;
  top:-141px;
  width:8px;
  height:141px;
}
#u4259_seg1 {
  position:absolute;
  left:-160px;
  top:-141px;
  width:164px;
  height:8px;
}
#u4259_seg2 {
  position:absolute;
  left:-165px;
  top:-147px;
  width:20px;
  height:20px;
}
#u4260 {
  position:absolute;
  left:-62px;
  top:-145px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4261_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u4261 {
  position:absolute;
  left:736px;
  top:458px;
  width:100px;
  height:60px;
}
#u4262 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u4263 {
  position:absolute;
  left:663px;
  top:488px;
  width:0px;
  height:0px;
  font-size:12px;
  color:#FF0000;
}
#u4263_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:77px;
  height:8px;
}
#u4263_seg1 {
  position:absolute;
  left:58px;
  top:-10px;
  width:20px;
  height:20px;
}
#u4264 {
  position:absolute;
  left:-14px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u4265 {
  position:absolute;
  left:786px;
  top:458px;
  width:0px;
  height:0px;
  font-size:12px;
  color:#FF0000;
}
#u4265_seg0 {
  position:absolute;
  left:-4px;
  top:-141px;
  width:8px;
  height:141px;
}
#u4265_seg1 {
  position:absolute;
  left:-123px;
  top:-141px;
  width:127px;
  height:8px;
}
#u4265_seg2 {
  position:absolute;
  left:-128px;
  top:-147px;
  width:20px;
  height:20px;
}
#u4266 {
  position:absolute;
  left:-50px;
  top:-138px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4267 {
  position:absolute;
  left:1106px;
  top:351px;
  width:0px;
  height:0px;
  font-size:12px;
  color:#FF0000;
}
#u4267_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:52px;
}
#u4267_seg1 {
  position:absolute;
  left:-160px;
  top:44px;
  width:164px;
  height:8px;
}
#u4267_seg2 {
  position:absolute;
  left:-160px;
  top:44px;
  width:8px;
  height:63px;
}
#u4267_seg3 {
  position:absolute;
  left:-166px;
  top:92px;
  width:20px;
  height:20px;
}
#u4268 {
  position:absolute;
  left:-134px;
  top:40px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4269 {
  position:absolute;
  left:1106px;
  top:351px;
  width:0px;
  height:0px;
  font-size:12px;
  color:#FF0000;
}
#u4269_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:52px;
}
#u4269_seg1 {
  position:absolute;
  left:-4px;
  top:44px;
  width:141px;
  height:8px;
}
#u4269_seg2 {
  position:absolute;
  left:129px;
  top:44px;
  width:8px;
  height:63px;
}
#u4269_seg3 {
  position:absolute;
  left:123px;
  top:92px;
  width:20px;
  height:20px;
}
#u4270 {
  position:absolute;
  left:22px;
  top:40px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4271 {
  position:absolute;
  left:950px;
  top:518px;
  width:0px;
  height:0px;
  font-size:12px;
  color:#FF0000;
}
#u4271_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:113px;
}
#u4271_seg1 {
  position:absolute;
  left:-10px;
  top:94px;
  width:20px;
  height:20px;
}
#u4272 {
  position:absolute;
  left:-50px;
  top:46px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4273 {
  position:absolute;
  left:900px;
  top:657px;
  width:0px;
  height:0px;
  font-size:12px;
  color:#FF0000;
}
#u4273_seg0 {
  position:absolute;
  left:-64px;
  top:-4px;
  width:68px;
  height:8px;
}
#u4273_seg1 {
  position:absolute;
  left:-69px;
  top:-10px;
  width:20px;
  height:20px;
}
#u4274 {
  position:absolute;
  left:-82px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u4275 {
  position:absolute;
  left:950px;
  top:687px;
  width:0px;
  height:0px;
  font-size:12px;
  color:#000000;
}
#u4275_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:307px;
}
#u4275_seg1 {
  position:absolute;
  left:-4px;
  top:299px;
  width:110px;
  height:8px;
}
#u4275_seg2 {
  position:absolute;
  left:91px;
  top:293px;
  width:20px;
  height:20px;
}
#u4276 {
  position:absolute;
  left:-50px;
  top:197px;
  width:100px;
  word-wrap:break-word;
}
#u4277 {
  position:absolute;
  left:1239px;
  top:518px;
  width:0px;
  height:0px;
  font-size:12px;
  color:#FF0000;
}
#u4277_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:113px;
}
#u4277_seg1 {
  position:absolute;
  left:-10px;
  top:94px;
  width:20px;
  height:20px;
}
#u4278 {
  position:absolute;
  left:-50px;
  top:46px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4279 {
  position:absolute;
  left:1239px;
  top:687px;
  width:0px;
  height:0px;
  font-size:12px;
  color:#FF0000;
}
#u4279_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:97px;
}
#u4279_seg1 {
  position:absolute;
  left:-10px;
  top:78px;
  width:20px;
  height:20px;
}
#u4280 {
  position:absolute;
  left:-50px;
  top:38px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4281 {
  position:absolute;
  left:1289px;
  top:810px;
  width:0px;
  height:0px;
  font-size:12px;
  color:#FF0000;
}
#u4281_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:119px;
  height:8px;
}
#u4281_seg1 {
  position:absolute;
  left:100px;
  top:-10px;
  width:20px;
  height:20px;
}
#u4282 {
  position:absolute;
  left:8px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u4283 {
  position:absolute;
  left:1239px;
  top:840px;
  width:0px;
  height:0px;
  font-size:12px;
  color:#000000;
}
#u4283_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:154px;
}
#u4283_seg1 {
  position:absolute;
  left:-83px;
  top:146px;
  width:87px;
  height:8px;
}
#u4283_seg2 {
  position:absolute;
  left:-88px;
  top:140px;
  width:20px;
  height:20px;
}
#u4284 {
  position:absolute;
  left:-50px;
  top:109px;
  width:100px;
  word-wrap:break-word;
}
#u4285 {
  position:absolute;
  left:613px;
  top:1020px;
  width:0px;
  height:0px;
  font-size:12px;
  color:#000000;
}
#u4285_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:96px;
}
#u4285_seg1 {
  position:absolute;
  left:-10px;
  top:77px;
  width:20px;
  height:20px;
}
#u4286 {
  position:absolute;
  left:-50px;
  top:38px;
  width:100px;
  word-wrap:break-word;
}
#u4287 {
  position:absolute;
  left:786px;
  top:627px;
  width:0px;
  height:0px;
  font-size:12px;
  color:#FF0000;
}
#u4287_seg0 {
  position:absolute;
  left:-4px;
  top:-66px;
  width:8px;
  height:66px;
}
#u4287_seg1 {
  position:absolute;
  left:-4px;
  top:-66px;
  width:92px;
  height:8px;
}
#u4287_seg2 {
  position:absolute;
  left:80px;
  top:-310px;
  width:8px;
  height:252px;
}
#u4287_seg3 {
  position:absolute;
  left:80px;
  top:-310px;
  width:190px;
  height:8px;
}
#u4287_seg4 {
  position:absolute;
  left:255px;
  top:-316px;
  width:20px;
  height:20px;
}
#u4288 {
  position:absolute;
  left:34px;
  top:-212px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4289 {
  position:absolute;
  left:1454px;
  top:780px;
  width:0px;
  height:0px;
  font-size:12px;
  color:#FF0000;
}
#u4289_seg0 {
  position:absolute;
  left:-4px;
  top:-463px;
  width:8px;
  height:463px;
}
#u4289_seg1 {
  position:absolute;
  left:-298px;
  top:-463px;
  width:302px;
  height:8px;
}
#u4289_seg2 {
  position:absolute;
  left:-303px;
  top:-469px;
  width:20px;
  height:20px;
}
#u4290 {
  position:absolute;
  left:-50px;
  top:-386px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4291_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:81px;
}
#u4291 {
  position:absolute;
  left:583px;
  top:1308px;
  width:60px;
  height:80px;
}
#u4292 {
  position:absolute;
  left:2px;
  top:24px;
  width:56px;
  word-wrap:break-word;
}
#u4293 {
  position:absolute;
  left:1106px;
  top:1020px;
  width:0px;
  height:0px;
  font-size:12px;
  color:#FF0000;
}
#u4293_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:332px;
}
#u4293_seg1 {
  position:absolute;
  left:-463px;
  top:324px;
  width:467px;
  height:8px;
}
#u4293_seg2 {
  position:absolute;
  left:-468px;
  top:318px;
  width:20px;
  height:20px;
}
#u4294 {
  position:absolute;
  left:-118px;
  top:320px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4295 {
  position:absolute;
  left:613px;
  top:1172px;
  width:0px;
  height:0px;
  font-size:12px;
  color:#FF0000;
}
#u4295_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:140px;
}
#u4295_seg1 {
  position:absolute;
  left:-10px;
  top:121px;
  width:20px;
  height:20px;
}
#u4296 {
  position:absolute;
  left:-50px;
  top:60px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4297 {
  position:absolute;
  left:195px;
  top:1020px;
  width:0px;
  height:0px;
  font-size:12px;
  color:#FF0000;
}
#u4297_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:332px;
}
#u4297_seg1 {
  position:absolute;
  left:-4px;
  top:324px;
  width:392px;
  height:8px;
}
#u4297_seg2 {
  position:absolute;
  left:373px;
  top:318px;
  width:20px;
  height:20px;
}
#u4298 {
  position:absolute;
  left:-20px;
  top:320px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4299 {
  position:absolute;
  left:563px;
  top:990px;
  width:0px;
  height:0px;
  font-size:12px;
  color:#FF0000;
}
#u4299_seg0 {
  position:absolute;
  left:-84px;
  top:-4px;
  width:84px;
  height:8px;
}
#u4299_seg1 {
  position:absolute;
  left:-84px;
  top:-673px;
  width:8px;
  height:677px;
}
#u4299_seg2 {
  position:absolute;
  left:-84px;
  top:-673px;
  width:84px;
  height:8px;
}
#u4299_seg3 {
  position:absolute;
  left:-15px;
  top:-679px;
  width:20px;
  height:20px;
}
#u4300 {
  position:absolute;
  left:-130px;
  top:-342px;
  width:100px;
  word-wrap:break-word;
}
