body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1197px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u729_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1096px;
  height:709px;
}
#u729 {
  position:absolute;
  left:102px;
  top:111px;
  width:1095px;
  height:708px;
}
#u730 {
  position:absolute;
  left:2px;
  top:346px;
  width:1091px;
  visibility:hidden;
  word-wrap:break-word;
}
#u731_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1096px;
  height:101px;
}
#u731 {
  position:absolute;
  left:102px;
  top:11px;
  width:1095px;
  height:100px;
  font-size:36px;
}
#u732 {
  position:absolute;
  left:2px;
  top:29px;
  width:1091px;
  word-wrap:break-word;
}
#u733_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:17px;
}
#u733 {
  position:absolute;
  left:1094px;
  top:121px;
  width:43px;
  height:16px;
}
#u734 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u733_ann {
  position:absolute;
  left:1130px;
  top:117px;
  width:1px;
  height:1px;
}
#u735_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:17px;
}
#u735 {
  position:absolute;
  left:1153px;
  top:121px;
  width:29px;
  height:16px;
}
#u736 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u735_ann {
  position:absolute;
  left:1175px;
  top:117px;
  width:1px;
  height:1px;
}
#u737_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:17px;
}
#u737 {
  position:absolute;
  left:1144px;
  top:121px;
  width:1px;
  height:16px;
}
#u738 {
  position:absolute;
  left:2px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u739_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:17px;
}
#u739 {
  position:absolute;
  left:112px;
  top:121px;
  width:29px;
  height:16px;
}
#u740 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u739_ann {
  position:absolute;
  left:134px;
  top:117px;
  width:1px;
  height:1px;
}
#u741_img {
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  height:63px;
}
#u741 {
  position:absolute;
  left:256px;
  top:260px;
  width:230px;
  height:62px;
  font-size:20px;
}
#u742 {
  position:absolute;
  left:2px;
  top:19px;
  width:226px;
  word-wrap:break-word;
}
#u741_ann {
  position:absolute;
  left:479px;
  top:256px;
  width:1px;
  height:1px;
}
#u743_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u743 {
  position:absolute;
  left:265px;
  top:266px;
  width:50px;
  height:50px;
}
#u744 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u745_img {
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  height:63px;
}
#u745 {
  position:absolute;
  left:565px;
  top:260px;
  width:230px;
  height:62px;
  font-size:20px;
}
#u746 {
  position:absolute;
  left:2px;
  top:19px;
  width:226px;
  word-wrap:break-word;
}
#u745_ann {
  position:absolute;
  left:788px;
  top:256px;
  width:1px;
  height:1px;
}
#u747_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u747 {
  position:absolute;
  left:574px;
  top:266px;
  width:50px;
  height:50px;
}
#u748 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
